<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprimir</title>
</head>
<body>
    <h1>Comprimir Carpetas</h1>
    <form action="/api/comprimir" method="POST">
        <label for="folder_paths">Seleccionar carpetas:</label>
        <input type="text" name="folder_paths" id="folder_paths">
        <button type="submit">Comprimir</button>
    </form>
    <form action="/revision" method="POST">
        <button type="submit" name="consulta" value="revision">Consulta</button>
    </form>
    {% if mensaje %}
        <h2>Mensaje:</h2>
        <ul>
            {% for item in mensaje.split(',') %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if carpetas_revision %}
        <h2>Carpetas en "fotitos":</h2>
        <ul>
            {% for carpeta in carpetas_revision %}
                <li>{{ carpeta }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
